*, body{
    padding: 0; 
    margin: 0;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;
}
/*Menu Bar*/
header{
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}
nav {
    float: right; 
}
nav ul{
    list-style: none;
    overflow: hidden; 
}
nav ul li{
    float: right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}
nav ul li a{
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    background: rgb(223, 0, 0);
    transition: all 1s;
}
#titulo{
    padding-top: 5%; 
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}
/*cajas*/
#caja1, #caja2{
    display: inline; 
}
/* Caja 1 */
#caja1{
    float: left;
    padding: 5px;
    width: 35%; 
}
#notiLateral1{
    margin: 5px;
    padding: 2px;
    float: left; 
}
#titulo1{
    padding-top: 10%;
    margin-left: 25%;
    margin-right: 5%;
    padding-bottom: 5px;
    margin-bottom: 5%; 
}
#titu1{
    margin-left: 5%;
    padding: 2px;
}
#titu1:hover{
    color:rgb(223, 0, 0);
    transition: all 1s;
}
.notiUno{
    float: left;
    width: 300px; 
}
#par1, .notiUno{
    float: left; 
}
#par1{
    margin-left: 47%; 
    margin-right: 15%; 
    margin-top: -20%;
    padding: 2px;
    text-align: justify;
}
#notiLateral{
    margin: 5px;
    margin-top: 15px; 
    padding: 2px;
    float: left; 
}
#titu2{
    margin-left: 9%;
    padding: 2px;
}
#titu2:hover{
    color:rgb(223, 0, 0);
    transition: all 1s;
}
.notiDos{
    float: left;
    width: 300px; 
}
#par2, .notiDos{
    float: left; 
}
#par2{
    margin-left: 47%; 
    margin-right: 15%;
    margin-top: -20%;
    padding: 2px;
    text-align: justify;
}


/* Caja 2 /*/

#caja2{
    float: left;
    padding: 5px;
    margin-left: 0.5px;
    width: 62%;
}
#titulo2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-bottom: solid 2px #000000;
}
#titulo2:hover{
    color:rgb(223, 0, 0);
    transition: all 1s;
}
.notiPrincipal,#parPrincipal{
    float: left; 
} 
.notiPrincipal{
    width: 60%;
}
.notiPrincipal:hover{
    opacity: 40%;
}

#parPrincipal{
    width: 30%; 
    margin: 2%;
    margin-bottom: 5%;
    font-size: 180%;
    text-align: justify;
}
.notisecundaria1{
    width: 280px;
    margin-left: 5%;
    border-radius: 5%;
}
.notisecundaria2{
    width: 280px;
    border-radius: 5%;
}
/*footer*/
footer{
    text-align: center;
    background-color:  rgb(223, 0, 0);
    color: white; 
    margin-top: 60%;
    padding: 2%;
    border-top: #000000 solid 5px;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
}

